
<header id="header" class="header pt-17">
    <div class="header__container container">
                    <a href="#" class="header__logo">
                        <img src="images/global/logo.png" alt=""/>
                    </a>
                    <div class="__select" data-state="">
                        <div class="__select__title"> <img class="lazy icon" data-src="images/global/lang.svg" src="images/global/lazyload.png" alt="" loading="lazy"/> Русский</div>
                      <div class="__select__content">
                        <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" checked />
                        <label for="singleSelect0" tabindex="0" class="__select__label" data-value="Option 0">Русский</label>
                        <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" /> 
                        <label for="singleSelect1" tabindex="0" class="__select__label" data-value="Option 1">Русский</label>
                        <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect"  />
                        <label for="singleSelect2" tabindex="0" class="__select__label" data-value="Option 2">Казахстан</label>
                   
                     
                      
                      </div>
                    </div>
                    
    </div> 
</header>
